<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Content:</b>
  <%= @idea.content %>
</p>

<p>
	<b>Votes:</b>
	<%= @idea.votes_count %>
</p>

<% if signed_in? %>
	<%= link_to 'Vote for this idea', vote_up_idea_path(@idea), :method => :post %> |
	<%= link_to 'Edit', edit_idea_path(@idea) %> |
	<%= link_to 'Back', ideas_path %> 
<% else %>
	<%= link_to 'To vote for this idea, Please sign-in', signin_path %> |
	<%= link_to 'Edit', edit_idea_path(@idea) %> |
	<%= link_to 'Back', ideas_path %> 
<% end %>
