<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b>Title:</b>
  <%= @idea.title %>
</p>

<p>
  <b>Content:</b>
  <%= @idea.content %>
</p>

<%= link_to 'Vote Up', vote_up_idea_path(@idea), :method => :post %>
<%= link_to 'Edit' , edit_idea_path(@idea) %>

<%= link_to 'Users', users_path %>

<%= link_to 'Back', ideas_path %>